*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  background-color: rgb(71, 78, 113);
  border-radius: 16px;
}

.home-page {
  margin: auto;
  margin-top: 32px;
  width: 80%;
  border-radius: 16px;
  background-image: linear-gradient(
    -90deg,
    rgb(252, 208, 176),
    rgb(246, 243, 194)
  );
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 16px;
}
.navbar-link {
  font-size: 20px;
  margin-top: 32px;
  display: flex;
  gap: 32px;
  list-style: none;
  background-color: #3a2004;
  color: rgb(255, 255, 255);
  padding: 8px 0;
  border-radius: 8px;
}
.navbar-link1 {
  font-size: 20px;
  margin-top: 36px;
  display: flex;
  gap: 32px;
  list-style: none;
}
.logo {
  margin-top: 32px;
}
.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 12px;
}
.home-color {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  color: #3a2004;
}
.nav-link1 {
  text-decoration: none;
  background-color: #3a2004;
  color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
}
.container {
  display: flex;
  padding: 48px 24px;
}
.hero {
  flex: 1;
  margin-top: 32px;
}
.hero-text {
  margin: 36px;
  font-size: 48px;
  color: rgb(53, 23, 13);
}
.hero-paragraph {
  margin: 36px;
  font-size: 16px;
  color: rgb(53, 23, 13);
}
.btn {
  margin: 36px;
  gap: 8px;
}
.btn1,
.btn2 {
  padding: 16px;
  font-size: 16px;
  border-radius: 20px;
  background-color: rgb(72, 44, 22);
  color: white;
  margin-right: 16px;
  cursor: pointer;
}
.btn2 {
  color: rgb(72, 44, 22);
  background-color: rgb(246, 243, 194);
}
.image {
  display: flex;
  align-items: center;
}
.image img {
  padding-right: 72px;
  height: 360px;
}
.hero1 {
  flex: 1;
  margin-top: 40px;
  margin-left: 96px;
}
.description-page {
  display: flex;
  min-height: 400px;
  padding: 48px 24px;
  background-image: linear-gradient(
    90deg,
    rgb(253, 249, 222),
    rgb(252, 233, 212)
  );
}
.hero-text1 {
  padding: 32px 32px 0 32px;
  font-size: 48px;
  color: rgb(53, 23, 13);
}
.hero-paragraph1-1 {
  margin: 4px 32px;
  font-size: 16px;
  color: rgb(53, 23, 13);
}
.hero-paragraph1-2 {
  margin: 24px 32px;
  font-size: 16px;
  color: rgb(53, 23, 13);
}
.hero-paragraph1-3 {
  margin: 24px 32px;
  font-size: 16px;
  color: rgb(53, 23, 13);
}
.image1 {
  display: flex;
  align-items: center;
}
.image1 img {
  padding-left: 60px;
  height: 360px;
}
.menu {
  background-image: linear-gradient(90deg, #e2d3bc, #e0d1bc);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 480px;
  padding: 48px 24px;
}
.menu-head {
  color: #3a2004;
  margin-top: 16px;
  font-size: 48px;
}
.menu-page {
  display: flex;
  height: 480px;
}

.cake1 {
  align-items: center;
  background-color: #fef8e0;
  border-radius: 24px;
  margin: 48px;
  width: 33.33%;
}
.cake1 img {
  margin: auto;
  display: flex;
  height: 240px;
  width: 280px;
}
.cake2 {
  align-items: center;
  margin: 48px;
  width: 33.33%;
  background-color: #fef8e0;
  border-radius: 24px;
}
.cake2 img {
  display: flex;
  margin: auto;
  height: 240px;
  width: 280px;
}
.cake3 {
  align-items: center;
  width: 33.33%;
  margin: 48px;
  background-color: #fef8e0;
  border-radius: 24px;
}
.cake3 img {
  display: flex;
  margin: auto;
  height: 240px;
  width: 280px;
}
.cake-text {
  text-align: center;
}
.cake-text h4 {
  font-size: 24px;
  margin-top: 12px;
}
.cake-text p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
}
.green {
  color: green;
}
.star {
  color: #563c2a;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 16px;
}
